$main-color: #F16D7F;

body {
  font-family: sans-serif;
}

.main-color {
  color: $main-color;
}

.navbar {
  height: 75px;

  &__right {

    &-item {
      margin-left: 33px;
    }
  }


  &-brand {
    margin-top: -7px;
    margin-right: 41px;
  }

  &-wrap {
    display: flex;
    align-items: center;
  }

  &-header {

    &-link {
      height: 29px;

      &-img {

      }
    }
  }
}

.orders {
  position: relative;

  &-num {
    position: absolute;
    right: -10px;
    top: -5px;
    background-color: $main-color;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
  }
}

.brand {
  background-color: #F1E4E6;
  height: 764px;
  height: 764px;

  &__left-img {
    display: block;
    margin-left: -33%;
  }

  &__right {

    &_title {
      margin-top: 290px;
      height: 92px;
      border-left: 12px solid $main-color;
      text-transform: uppercase;
      padding-left: 16px;

      &-top {
        font-weight: 700;
        font-size: 48px;
        line-height: 55px;
        color: #222222;
      }

      &-bottom {
        font-weight: 600;
        font-size: 34px;
      }
    }
  }
}

.products {
  padding-top: 65px;
  padding-bottom: 96px;

  &_item {
    width: 31.5%;
    position: relative;

    &:hover, &-img:hover {
      box-shadow: 0 10px 18px rgb(0 0 0 / 50%);
    }

    &-text {
      position: absolute;
      width: 100%;
      height: 50px;
      top: 40%;
      left: 0%;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }

    &-img {
      width: 100%;
      filter: brightness(50%);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__bottom {
    position: relative;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;

    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28.8px;
    }
  }
}

.featured {
  &-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  &-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    margin-bottom: 50px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    width: 31%;
    margin-bottom: 30px;
    background-color: #F8F8F8;
    text-decoration: none;
    position: relative;

    &:hover {

      .cards-item-add {
        display: block;
      }

      .cards-item-img {
        filter: brightness(50%);
      }
    }

    &-link {
      text-decoration: none;
    }

    &-add {
      display: none;
      position: absolute;
      width: 138px;
      height: 43px;
      left: 30%;
      top: 30%;
      border: 1px solid #fff;
      line-height: 43px;
      text-align: center;

      &-link {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;

        &:hover {
          color: #fff;
        }

        &_img {
          display: inline-block;
          margin-right: 11px;
        }
      }
    }

    &-img {
      width: 100%;
      max-height: 420px;
    }

    &-text {
      padding: 20px 28px 20px 18px;
      color: #5D5D5D;

      &-title {
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 13px;
      }

      &-desc {
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 18px;
      }

      &-prise {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

.link-all-product {
  display: block;
  margin: 48px auto 96px;
  text-align: center;
  border: 1px solid #FF6A6A;
  width: 211px;
  line-height: 50px;
  color: #FF6A6A;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: #fff;
    background-color: #FF6A6A;
  }
}

.delivery {
  background-color: #222224;
  color: #FBFBFB;
  padding-top: 100px;
  padding-bottom: 100px;

  &_flex {
    display: flex;
    justify-content: space-between;
  }
}

.box {
  text-align: center;
  width: 31%;

  &-img {
    margin-bottom: 30px;
    max-height: 35px;
  }

  &-title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 16px;
  }

  &-text {
    max-width: 310px;
    font-weight: 300;
    font-size: 14px;
    margin: 0 auto;
  }
}

.subscribe {
  background-image: url("../img/bg-subscribe.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  .subscribe-flex {
    display: flex;
  }

  .reviews {
    width: 50%;
    max-height: 438px;
    padding: 123px 75px 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .reviews-img {
      margin-right: 28px;
    }

    .reviews-message {
      .reviews-text {
        margin-top: 20px;
        max-width: 360px;
        color: #222224;
        font-size: 16px;
        font-style: italic;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.4px;
      }

      .reviews-person {
        color: $main-color;
        font-size: 16px;
        font-weight: 700;
        margin-top: 19px;
        letter-spacing: 0.4px;
      }

      .reviews-nik {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 14px;
      }

      .reviews-pagination {
        display: flex;

        .pagination-item {
          width: 38px;
          height: 4px;
          background-color: #d6d6d6;
          margin-top: 41px;
          margin-right: 13px;
          cursor: pointer;

          &:hover {
            background-color: $main-color;
          }

          &.active {
            background-color: $main-color;
          }
        }
      }
    }
  }

  .join {
    text-align: center;

    .join-wrap {
      margin-top: 148px;
      margin-left: 90px;
      color: #222224;

      .join-title {
        font-size: 24px;
        letter-spacing: 0.6px;
        line-height: 34px;
        text-transform: uppercase;
      }

      .join-sub-title {
        color: #222224;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        margin-bottom: 26px;
        text-transform: uppercase;
      }

      .join-form {
        position: relative;
        height: 46px;
        width: 360px;

        .join-input {
          width: 334px;
          height: 100%;
          border-radius: 23px;
          background-color: #e1e1e1;
          border: none;
          padding: 18px 80px 18px 28px;
        }

        .join-button {
          position: absolute;
          right: 0;
          top: 0;

          width: 104px;
          height: 100%;
          border-radius: 0 23px 23px 0;
          background-color: $main-color;
          margin-left: -52px;
          border: 1px solid transparent;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            background: #fff;
            color: $main-color;
            border: 1px solid $main-color;
          }
        }
      }
    }
  }
}

.footer-copy {
  background: #222224;

  .footer-flex-bottom {
    display: flex;
    justify-content: space-between;
    padding: 33px 0;

    .left {
      line-height: 38px;
      height: 14px;
      color: #FBFBFB;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }

    .right .copy-link {
      margin-right: 8px;
    }
  }

  .networks {
    display: flex;
    justify-content: space-between;
    width: 191px;
  }

  .networks i {
    color: #ffffff;
    font-size: 32px;
  }

  .networks a:hover i {
    color: $main-color;
  }

  .networks a {
    list-style: none;
    font-family: 'Lato', sans-serif;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
  }
}

.mega-box-flex {
  position: relative;
}

.navbar:hover .mega-box {
  display: flex;
}

.mega-box {
  border-radius: 5px;
  height: 764px;
  width: 232px;
  box-shadow: 0 10px 18px rgb(0 0 0 / 16%);
  position: absolute;
  background: #fff;
  display: none;
  top: 58px;
  right: -220px;

  &_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px 16px 16px 33px;
    overflow: hidden;
  }

  &_img {
    text-align: right;
  }

  &_item {

    &-header {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #000;
      text-transform: uppercase;
      margin-top: 37px;
      margin-bottom: 4px;
    }

    &-title {
      margin-top: 20px;
      margin-bottom: 12px;
      text-transform: uppercase;
      color: $main-color;
    }

    &-und {
      list-style-type: none;
      padding: 0;
    }

    &-link {
      padding-left: 20px;
      text-decoration: none;
      color: #6F6E6E;
      line-height: 30px;
      width: 100%;
      display: inline-block;

      &:hover {
        color: $main-color;
      }
    }

  }
}

.close {
  position: absolute;
  right: 23px;
  top: 16px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .navbar, .brand, .featured, .delivery, .subscribe, .footer-copy {
    min-width: 375px;
  }

  .navbar:hover .mega-box {
    display: none;
  }

  .brand {

    height: 363px;

    &__left-img {
      display: none;
    }

    &__right_title {
      margin-top: 120px;
      margin-left: 50px;

      &-top {
        font-size: 38px;
      }

      &-bottom {
        font-size: 20px;
      }
    }
  }

  .navbar:hover .mega-box {
    display: none;
  }

  .subscribe-flex {
    flex-direction: column;
  }

  .subscribe {
    max-height: 693px;

    &-flex {
      flex-direction: column;
    }

    .reviews {
      width: 100%;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
      padding-top: 60px;
    }

    .join {
      margin: 0 auto;

      .join-wrap {
        margin: 0;
      }

      .join-form {
        margin-bottom: 110px;
      }
    }
  }

  .products {
    min-width: 375px;

    &__top {
      flex-direction: column;
      width: 100%;
      margin-bottom: 0;
    }

    &_item {
      width: 100%;
      margin-bottom: 20px;

      &-accessories {
        height: 111px;
        object-fit: cover;
      }
    }
  }

  .orders {
    display: none;
  }

  .person {
    display: none;
  }

  .cards {
    flex-direction: column;
    width: 100%;

    &-item {
      min-width: 359px;
      margin: 0 auto 17px;


      &-img {
        object-fit: cover;
      }
    }
  }

  .delivery {
    padding-bottom: 35px;

    &_flex {
      flex-direction: column;
      width: 100%;

      .box {
        width: 100%;

        &-text {
          margin-bottom: 46px;
        }
      }
    }
  }

  .footer-flex-bottom {
    flex-direction: column-reverse;
    align-items: center;
  }

  .subscribe .join .join-wrap .join-form .join-button {
    right: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .brand {
    height: 368px;

    &__flex .row {
      flex-wrap: nowrap;
      flex-direction: row;
      width: 100%;
    }

    &__right {
      width: 50%;

      &_title {
        margin-top: 135px;
        height: 58px;

        &-top {
          font-size: 24px;
          line-height: 36px;
        }

        &-bottom {
          font-size: 16px;
        }
      }
    }

    &__left {
      width: 50%;

      &-img {
        height: 368px;
        margin-left: -36px;
      }
    }
  }

  .cards {
    &-item {
      width: 48%;
    }
  }

  .delivery {
    padding-bottom: 16px;
  }

  .delivery_flex {
    flex-direction: column;
    align-items: center;
    width: 100%;

    .box {
      margin-bottom: 48px;
    }
  }

  .subscribe {
    padding-top: 54px;
    padding-bottom: 140px;

    &-flex {
      flex-direction: column;
    }

    .reviews {
      width: 100%;
      padding: 0;
    }

    .join {
      margin-top: 58px;

      .join-wrap {
        margin: 0;
      }

      .join-form {
        margin: 0 auto;
      }
    }
  }

  .navbar:hover .mega-box {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 993px) {
  .navbar:hover .mega-box {
    display: none;
  }

  .brand__right_title-top {
    font-size: 34px;
  }

  .brand {
    max-height: 368px;

    &__right {
      padding-left: 0;

      &_title {
        height: 80px;
        margin-top: 150px;

        &_title-top {
          font-size: 36px;
        }
      }
    }

    &__left-img {
      margin-left: -35%;
      height: 368px;
    }

    &_title-bottom {
      font-size: 20px;
    }
  }

  .products_item-text {
    top: 30%
  }

  .products__bottom .products_item-text {
    top: 25%
  }
}

@media (min-width: 994px) and (max-width: 1024px) {
  .navbar:hover .mega-box {
    display: none;
  }

  .brand__left-img {
    margin-left: -235px;
  }

  .brand__right_title-top {
    font-size: 32px;
  }

  .brand__right_title-bottom {
    font-size: 22px;
  }

  .products_item-accessories-text {
    top: 32%;
  }
}